

/*-----------------------------------------------------------LOGIN AND FORMS SECTION (index.html)---------------------------------------------------------*/
#welcome-section {
    top: 0;
    background-color: aliceblue;
    height: 100%;
    width: 60%;
    padding-top: 40vh;
    padding-bottom: 20px;
}



.login {
    width: 40%;
    height: 100%;
    padding: 10% 0 10% 0;
    padding-top: 130px; 
    margin-top: 20px;
    float: left;
    background-color: lightslategray;
}

#login, #create-attendant {
    position: relative;
    padding: 10px 20px 30px 20px;
    max-width: 400px;
    text-align: center;
    margin: 10px auto 80px;
    min-height: 100vh;
}


#login input, #create-attendant input {
    padding: 20px;
    position: relative;
    text-align: center;
    margin: 5px 10px 5px 10px;
    width: 100%;
    border: 0;
    font-size: 16px;
    cursor: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    border-radius: 5px;
}


#signin-button, #submit-button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
    position: relative;
    outline: 0;
    width: 100%;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 16px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 100;
    /*background-color:*/
    padding: 10px 0 10px 0px;
    border-radius: 5px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}


/*----------------------------------------------------------- REGISTER FORM SECTION (register.html)---------------------------------------------------------*/

#register-section {
    position: absolute;
    left: 250px;
    right: 250px;
    margin-left: 10px;
    padding: 20px;
    top: 100px;
}

#create-attendant label {
    margin: 10px;
    padding: 10px;
    font-size: inherit;
}

.dropdown {
    display: flex;
    flex-direction: column;
    width: 100% text-align: center;
    padding: 20px;
    position: relative;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/*----------------------------------------------------------- ADD PRODUCTS FORM SECTION (add_prducts.html)---------------------------------------------------------*/

#product-description {
    width: 100%;
    font-family: inherit;
    padding: 10px;
    text-align: center;
    font-weight: 100;
    border-radius: 5px;
    border: 0.1px;
    margin: 10px;
    font-size: 16px;
}

/*----------------------------------------------------------- ADMIN INVENTORY PAGE (manage_products.html)---------------------------------------------------------*/

.products {
    top: 70px;
    padding-top: 30px;
    text-align: center;
    left: 205px;
    right: 250px;
    position: absolute;
    height: 100vh;
    width: 68vw;
}

.products header {
    margin: 10px;
    font-weight: bolder;
    font-size: 1.5em;
    padding: 10px;
}

.products p {
    margin: 10px;
    padding: 10px;
}

.the_products {
    left: 250px;
    right: 250px;
    padding: 10px 20px;
    border-radius: 10px;
}

#single-product {
    display: flex;
    /*flex-direction: row;
    flex-wrap: wrap;*/
    border: 2px;
    box-shadow: 5px 5px #888888;
    margin: 10px;
    width: 100%;
}

#single-product img {
    border: 2px solid;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    float: left;
    margin: 10px 30px 5px 30px;
}

#single-product:first-child {
    float: left;
}

#single-product p {
    margin: 20px 20px 30px 20px;
    float: left;
}

#price {
    float: left;
}

#price, #modify-buttons {
    padding: 30px 10px;
    margin-bottom: 10px;
}

#modify-buttons {
    float: right;
}

#price {
    margin-top: 0;
}

.the_products ul li {
    text-decoration: none;
    list-style-type: none;
}

.product-name {
    color: inherit;
}

.edit {
    background-color: rgba(0, 122, 16, 0.88);
}

.delete {
    background-color: rgba(155, 2, 2, 0.88);
}

.edit, .delete {
    padding: 10px 25px;
    margin: -10px 5px 15px 5px;
}

.edit:hover, .delete:hover {
    opacity: 0.75;
}


/*-------------------------------------------------------------ADMIN SALES PAGE (manage_products)---------------------------------------------------------------*/

#filter-search {
    width: 50%;
    height: 30px;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.sales-table {
    width: 100%;
    border: 2px solid;
}

.sales-table th, .sales-table td {
    border: 1px solid;
    text-align: left;
    padding: 10px;
}

/*-------------------------------------------------------------ATTENDANT INVENTORY PAGE (attendant.html)---------------------------------------------------------------*/

#cart {
    width: 100%;
    margin-top: 30px;
    overflow-x: auto;
}

#cart table {
    border-collapse: collapse;
    width: 100%;
    border: 0.2px solid lightgray;
}

#cart table th td {
    padding: 20px;
    margin: 20px;
}

#cart table tr:nth-child(odd) {
   background-color: ghostwhite;
}

.checkout {
    width: 100% !important;
    height: 30px !important;
    bottom: 50px !important;
    padding: 15px 0 25px 0;
    text-align: center;
    margin-top: 50px
}